.octocat {
  float: left;
  width: 30%;
  margin: 30px;
  border: 
}

.octocat img {
  border: 1px solid gray;
}

.image-footer img {
  border: none;
  max-height: 75px;
  max-width: 75px;
}


.authors {
  float: right;
  max_width: 1px;
  
}

.image-caption {
  float: right;
}

.image-number {
  float: left;
  color: gray
  
}

ul {
 list-style: none;

}