.octocat {
  float: left;
  width: 30%;
  margin: 30px;
  border-bottom: 1px solid lightgray;
}

.octocat img {
  border: 1px solid lightgray;
  width: 100%;
}

.image-footer img {
  border: none;
  max-width: 75px;
}

.image-number:before {
   content: "#";
}

.authors {
  float: right; 
}

.authors img {
  border-radius: 20%;
}

.image-caption {
  float: right;
  color: gray;
}

.image-footer {
  font-family: helvetica;
  font-weight: bold;
}

.image-caption a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.image-number {
  float: left;
  color: lightgray;
 }

ul {
 list-style: none;
}